# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.vscode/

# Build directories
dist/
build/
